<div class="row">
    <div class="col">
        <h1>¿Quién?</h1>
        <hr />
        <div *ngIf="showCard" class="card text-center bg-dark mb-3">
            <div class="card-body">
                <p class="card-title text-white">{{phrase.msg}}</p>
                <p class="card-text text-white">{{phrase.author}}</p>
            </div>
        </div>
        <button (click)="showCard = !showCard" class="btn btn-outline-dark btn-block">Mostrar/Ocultar</button>
    </div>
    <div class="col">
        <h1>¿Por qué?</h1>
        <hr />
        <ul class="list-group">
            <li *ngFor="let phrase of iwiPhrases; let i = index" class="list-group-item">
                N°{{i}} {{phrase}}
            </li>
        </ul>
    </div>
</div>